<h1>Weather App</h1>

<!-- form to input get weather for city -->
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <input matInput type="text" formControlName="city" />
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Get Weather</button>
</form>

<!-- display weather result -->
<!-- only render when weatherResult is not undefined -->
<mat-card *ngIf="!!weatherResult">
  <table>
    <tr>
      <td>City</td>
      <td>{{ weatherResult.city }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ weatherResult.description }}</td>
    </tr>
    <tr>
      <td>Temp</td>
      <td>{{ weatherResult.temp }}</td>
    </tr>
    <tr>
      <td>Humidity</td>
      <td>{{ weatherResult.humidity }}</td>
    </tr>
    <tr>
      <td>Wind Speed</td>
      <td>{{ weatherResult.windSpeed }}</td>
    </tr>
    <tr>
      <td>Wind Degree</td>
      <td>{{ weatherResult.windDegree }}</td>
    </tr>
  </table>
</mat-card>
